body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styles START*/
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-content: center;
}

.studio-color {
  color: #2e2f42;
}

.studio-color-scd {
  color: #f4f4fd;
}

.webstudio {
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: inline-block;
  position: relative;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-ul {
  color: #2e2f42;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-item-link {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page {
  position: relative;
  color: #404bbf;
}

.active-page::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  color: #434455;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}

.address > ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.address-item {
  padding: 24px 0;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Header styles END*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: auto;
}

.title {
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px #00000015;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.features {
  background-color: #ffffff;
  padding: 120px 0;
}

.feature-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  padding: 24px 100px;
  height: 112px;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.features-discription {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.features-p {
  letter-spacing: 0.02em;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 24px;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}

.container-team {
  display: flex;
  padding: 32px 0;
  gap: 8px;
  flex-direction: column;
}

.team-h {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-discription {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-a:hover,
.icon-a:focus {
  background-color: #404bbf;
}

.icon-app {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.icon-app-use {
  fill: #ffffff;
  stroke: #ffffff;
}

.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.portfolio-li:hover .overlay {
  transform: translateY(0);
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  gap: 32px;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.slogan-container {
  margin-right: 120px;
}

.footer .webstudio {
  margin-bottom: 16px;
}

.footer-slogan {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 24px;
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.footer-social-container .icon-app {
  width: 24px;
  height: 24px;
}

.footer-social-container .container-icon {
  gap: 16px;
}

.footer-social-container .icon-a:hover,
.footer-social-container .icon-a:focus {
  background-color: #31d0aa;
}

.footer-social-media {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .modal-close-icon,
.close-button:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-titel {
  text-align: center;
  margin-bottom: 34px;
  font-family: "Roboto";
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-icon {
  position: relative;
  margin-bottom: 16px;
}

.modal-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  background-color: transparent;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-input-text {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  margin-bottom: 0;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  margin-bottom: 4px;
  size: 12px;
  line-height: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}

.button-icon {
  width: 8px;
  height: 8px;
}

.modal-button {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 56px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.checkbox-container {
  margin-bottom: 24px;
}

.custom-checkbox {
  width: 100%;
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.48px;
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-privacy-input {
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.visually-hidden[type="checkbox"]:checked
  + .custom-checkbox
  .checkbox-privacy-input {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.footer-subscribe-form {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.modal-subscribe {
  width: 264px;
  height: 40px;
  color: #ffffff;
  background-color: #2e2f42;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-subscribe::placeholder {
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  color: #ffffff;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
}

.is-open {
  visibility: visible;
}
